body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px; /* Espacio entre el menú y el carrusel */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.search-bar {
    padding: 5px;
    font-size: 16px;
}

.nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-right li {
    margin-left: 20px;
}

.nav-right li a {
    color: #fff;
    text-decoration: none;
}

.btn-registrarse, .btn-iniciar-sesion {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn-registrarse:hover, .btn-iniciar-sesion:hover {
    background-color: #0056b3;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    position: relative;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: calc(100% - 40px);
    height: 200px;
    padding: 0 30px; 
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    z-index: 1000;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: 400px;
    background-color: #fff;
}

.producto-header {
    background-color: #ffc107;
    padding: 25px;
    font-weight: bold;
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.producto p {
    padding: 10px;
    font-size: 18px;
    color: #333;
    text-align: justify;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-column h3 {
    color: #007bff; /* Azul */
    margin-top: 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-column form input[type="email"] {
    padding: 10px;
    width: calc(100% - 122px);
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-column form button {
    padding: 11px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-column form button:hover {
    background-color: #0056b3;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-links li {
    margin: 0;
}

.social-links li a {
    display: block;
    width: 40px;
    height: 40px;
}

.social-links li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
