.container1 {
    display: grid;
    margin-left: 10px;
    margin-top: 60px;
    width: 1600px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
}

.Section, .Section1 {
    text-align: center;
    align-content: center;
    width: 250px;    
    grid-column: 1 / 2; 
    grid-row: 1 / 2;    
}
.Section1{
    width: 250px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -130px;
}

.Info {
    grid-column: 2 / 4; 
    grid-row: 1 / 2;  
    margin-left: -150px;
    border: 2px solid black;
    width: calc(100% + 90px);
    border-radius: 10px;
}
.Info2{
    grid-column: 2 / 4 ;
    grid-row: 2 / 3 ;
    margin-left: -150px;
    border: 2px solid black;
    width: calc(100% + 90px);
    border-radius: 10px;
}.Info3{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-left: -150px;
    border: 2px solid black;
    width: calc(100% + 90px);
    border-radius: 10px;
}
.B1,
.B2{
    width: calc(100% - 150px);
    height: 35px;
    background-color: rgb(255, 199, 57);
    border-radius: 5px;
}
.IMG1,
.IMG2,
.IMG3{
    box-shadow: 2px 2px 7px 2px ;
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.txt1{
    margin-left: 420px;
    margin-top: -230px;
}
.txt2{
    margin-left: 700px ;
    margin-top: -150px ;
}
.prog3{
    position: absolute;
    margin-top: 260px;
    margin-left: -348px;
    width: 340px;
    accent-color: purple;
}
.prog2{
    position: absolute;
    margin-top: 260px;
    margin-left: -348px;
    width: 340px;
    accent-color: blue;
}.prog1{
    position: absolute;
    margin-top: 260px;
    margin-left: -348px;
    width: 340px;
    accent-color: yellow;
}

.Barra{
    width: calc(100% + 16px);
    margin-left: -8px;
    height: 70px;
    margin-top: -8px;
    background-color: rgb(70, 70, 70);
}
.Logo{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-left: 75px;
}
.Inp1{
    position: absolute;
    margin-left: 15px;
    margin-top: 16px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
.Menu1{
    display: flex;
    margin-left: 550px;
    margin-top: -40px;
}
.A,.B,.C,.D,.E{
    margin-left: 45px;
    list-style: none;
    color: white;
}
.BR{
    position: absolute;
    margin-left: 1220px;
    margin-top: -42px;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(34, 166, 255);
    color: white;
    font-size: medium;
}
.BI{
    position: absolute;
    margin-left: 1375px;
    margin-top: -42px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(34, 166, 255);
    color: white;
    font-size: medium;
}
.footer1{
    margin-top: -200px;
    background-color: black;
    height: 300px;
}
.title{
    position: absolute;
    margin-top: 45px;
    margin-left: 645px;
    color: rgb(255, 199, 57);
    font-size: 20px;

}
.If{
    text-align: center;
    position: absolute;
    color: white;
    margin-left: 650px;
    margin-top: 80px;
}
.Rf{
    position: absolute;
    color: rgb(255, 199, 57);
    margin-left: 680px;
    font-size: 20px;
    margin-top: 155px;
    text-align: center;
}
.redes{
    position: absolute;
    color: white;
    margin-left: 690px;
    font-size: 18px;
    margin-top: 185px;
}

/*Inicio de sesion*/

.Body2{
    background-color: #063442;
}

.title2{
    text-align: center;
    font-size: 25px;
}
.container2{
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
    width: 35%;
    height: 600px;
    margin-left: calc(31%);
    margin-top: 120px;
    background-color: antiquewhite;
}

.datos{
    margin-left: 20px;
}
.inp2{
    margin-left: 20px;
    height: 25px;
    width: 520px;
    border-radius: 10px;
}
.InicioS{
    margin-top: 90px;
}
.B3{
    margin-top: 50px;
    margin-left: 140px;
    width: 120px;
    border-radius: 10px;
    height: 40px;
    background-color: #616DDD;
    color: white;
}
.B4{
    margin-top: 50px;
    margin-left: 40px;
    width: 120px;
    border-radius: 10px;
    height: 40px;
    background-color: #616DDD;
    color: white;
}
.footer2{
        margin-top: 100px;
        background-color: black;
        height: 300px;
        width: 100%;
    }
    .title3{
        position: absolute;
        margin-top: 45px;
        margin-left: 645px;
        color: rgb(255, 199, 57);
        font-size: 20px;
    
    }
    .icon1{
        margin-left: -550px;
    }
    .Inf{
        text-align: center;
        position: absolute;
        color: white;
        margin-left: 650px;
        margin-top: 80px;
    }
    .Rnf{
        position: absolute;
        color: rgb(255, 199, 57);
        margin-left: 680px;
        font-size: 20px;
        margin-top: 155px;
        text-align: center;
    }
    .redes2{
        position: absolute;
        color: white;
        margin-left: 690px;
        font-size: 18px;
        margin-top: 185px;
    }
.container3{
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
    width: 35%;
    height: 650px;
    margin-left: calc(31%);
    margin-top: 120px;
    background-color: antiquewhite;
}